## .NET Core
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# Database files
*.db
*.db-shm
*.db-wal
*.sqlite
*.sqlite3

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
.vs/

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# NuGet
*.nupkg
**/[Pp]ackages/*
*.nuget.props
*.nuget.targets
project.assets.json
project.nuget.cache
